.user-pic {
    font-size: 12pt;
}

.user-name {
    font-size: 8pt;
}

.user-container {
    font-size: 8pt;
    display: inline-block;
    margin: 1em;
    text-align: center;

    &.active {
        background: rebeccapurple
    }
}